[
{
"name":"Matic / Polygon",
"rpcs":[

],
"rpcservers":[
{
"url":"https://matic-mainnet-archive-rpc.bwarelabs.com",
"name":"",
"privateNode":false
},
{
"url":"https://matic-mainnet-full-rpc.bwarelabs.com",
"name":"",
"privateNode":false
},
{
"url":"https://matic-mainnet.chainstacklabs.com",
"name":"",
"privateNode":false
},
{
"url":"https://rpc-mainnet.matic.quiknode.pro",
"name":"",
"privateNode":false
},
{
"url":"https://rpc-mainnet.matic.network",
"name":"",
"privateNode":false
}
],
"healthchecks":[

],
"errors":[

],
"blocktime":1
},
{
"name":"Binance Smart Chain",
"rpcs":[

],
"rpcservers":[
{
"url":"https://binance.ankr.com",
"name":"",
"privateNode":false
},
{
"url":"https://bsc.mytokenpocket.vip",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed4.binance.org/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed3.binance.org/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed2.binance.org/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed1.binance.org/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed4.ninicoin.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed3.ninicoin.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed2.ninicoin.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed4.defibit.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed3.defibit.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed2.defibit.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed1.ninicoin.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed1.defibit.io/",
"name":"",
"privateNode":false
},
{
"url":"https://bsc-dataseed.binance.org/",
"name":"",
"privateNode":false
}
],
"healthchecks":[

],
"errors":[

],
"blocktime":3
},
{
"name":"Ethereum",
"rpcs":[

],
"rpcservers":[
{
"url":"https://mainnet.eth.cloud.ava.do/",
"name":"Avado",
"privateNode":true
},
{
"url":"https://mainnet-nethermind.blockscout.com/",
"name":"Blockscout",
"privateNode":true
},
{
"url":"https://api.mycryptoapi.com/eth",
"name":"MyCrypto",
"privateNode":true
},
{
"url":"https://cloudflare-eth.com",
"name":"Cloudflare",
"privateNode":true
},
{
"url":"https://metamask-rpc.blxrbdn.com/",
"name":"Bloxroute",
"privateNode":true
}
],
"healthchecks":[

],
"errors":[

],
"blocktime":13
}
]